.arrow-bar {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    text-align: center;
}

.arrow {
	color: black;
    cursor: pointer;
    font-size: 5em;
    width: 35px;
    height: 35px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow h1 {
    text-align: center;
}

.arrow.right {
    margin-left: 3rem;
}

.arrow.left {
    margin-left: 3rem;
}

.curr-timeframe {
    margin-left: 3rem;
}

.curr-timeframe h1 {
    font-weight: bold;
}