.arrow-bar {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    text-align: center;
}

.arrow {
    cursor: pointer;
    font-size: 5em;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.arrow:hover {
    background: #f2f3f4;
}

.arrow h1 {
    text-align: center;
}

.arrow.right {
    margin-left: 3rem;
}

.arrow.left {
    margin-left: 3rem;
}

.curr-timeframe {
    margin-left: 3rem;
}

.curr-timeframe h1 {
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    cursor: default;
}