.rate-container {
    height: auto;
    width: 200px;
    position: absolute;
    bottom: 100px;
    left: 100px;
    background: white;
    border-radius: 7px;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.rate-container h3 {
    color: #737373;
    font-weight: 900;
    font-size: small;
    padding: 0px;
    margin: 0px;
}

.rate-header {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.rate-notes {
    display: flex;
    padding-left: 20px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.rate-notes:hover {
    background: #f2f3f4;
}

.rate-notes svg {    
    transition: transform .15s;
}

.rate-notes:hover svg{
    transform: scale(1.2);
}

.rate-notes p {
    padding: 0px;
    margin: 0px;
    font-size: small;
}

.rate-module {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.rate-module:hover .rate-module-colorbox {
    transform: scale(1.075);
}

.rate-module:hover {
    background: #f2f3f4;
}

.rate-module-colorbox-container {
    padding-right: 10px;
}

.rate-module-colorbox {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .15s;
}

.rate-module-text {
    display: flex;
    align-items: center;
}

.rate-module-text p{
    padding: 0px;
    margin: 0px;
    font-size: small;
}

.rate-close svg:hover {
    background: #f2f3f4;
}