.signup-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    height: 100vh;
    background-image: linear-gradient(141deg, #FF5757 0%, #FF66C5 20%, #CB6BE7 40%, #8C52FF 60%,  #5171FF 80%);
}

.signup-container a {
    color: #FFDF00;
    font-weight: bold;
}

.signup-container h1{
    color: white;
}

.signup-container p{
    color: white;
}