.timeframe-bar {
    display: flex;
    flex-direction: row;
    background-color: #f2f3f4;
    border-radius: 50px;
    width: 660px;
}

.timeframe-container {
    height: 50px;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
}

.timeframe-inactive {
    width: 100px;
    height: 40px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
} 

.timeframe-inactive:hover h2{
    font-weight: bold;
}

.timeframe-active {
    border-radius: 40px;
    height: 40px;
    width: 125px;
    display: flex;
    background-color: #737373;
    align-items: center;
    color: white;
    justify-content: center;
}

.timeframe-active h2 {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.timeframe-inactive h2 { 
    margin: 0;
    padding: 0;
}