.day-wrapper {
    display: flex;
    flex-direction: row;
}

.day-bar {
    padding-left: 50px;
    padding-top: 20px;
    width: 100px;
}

.day-bar h2 {
    padding: 0px;
    margin: 0px;
}

.day-wrapper h3 {
    color: #737373;
    font-weight: 900;
    font-size: large;
    text-align: center;
}

.day-today-active {
    background-color: #737373;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-today-inactive {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-today-active h2 {
    font-weight: bold;
    color: white;
}

.day-content {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-top: 40px;
}

.day-colorbox-wrapper {
    padding: 10px;
    display: flex;
    display: row;
}

.day-colorbox {
    height: 250px;
    width: 250px;
    border-radius: 15px;
}

.day-notes {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.day-notes-good {
    display: flex;
    flex-direction: column;
}

.day-notes-bad {
    display: flex;
    flex-direction: column;
}

.day-notes h3 {
    text-align: left;
    font-weight: 900;
}

/*
.day-notes-good-text {}

.day-notes-bad-text {}
*/