.month-wrapper {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    justify-content: center;
}

.month-module {
    cursor: pointer;
    padding: 3px;
}

.month-colorbox {
    border-radius: 7px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.month-colorbox h2 { 
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    color: white;
}

.month-today {
    border-radius: 7px;
    border-style: solid;
    border-color: #737373;
    border-width: 2px;
}

.month-today .month-colorbox {
    width: 56px;
    height: 56px;
    border-radius: 5px;
}

.month-table {
    display: grid;
    grid-template-columns: repeat(6, auto) 1fr;
}

.month-table h3 {
    color: #737373;
    font-weight: bold;
    font-size: large;
    text-align: center;
}