.year-module {
    cursor: pointer;
    padding: 1px;
    align-items: center;
    justify-content: center;
}

.year-colorbox {
    border-radius: 2px;
    width: 16px;
    height: 16px;
}

.year-table {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(6, auto) 1fr;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7x;
}

.year-table h3 {
    color: #737373;
    font-weight: bold;
    font-size: x-small;
    padding: 0px;
    margin: 0px;
}

.month-header {
    display: grid;
    grid-template-columns: repeat(53, auto) 1fr;
    padding-bottom: 0px;
    padding-left: 70px;
}

.month-header h3 {
    color: #737373;
    font-weight: bold;
    font-size: x-small;
    padding: 0px;
    margin: 0px;
}

.year-wrapper {
    padding-top: 50px;
}

.year-today {
    border-radius: 3px;
    border-style: solid;
    border-color: #737373;
    border-width: 1px;
    width: 16px;
    height: 16px;
}

.year-today .year-colorbox {
    width: 14px;
    height: 14px;
}


