.App {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

* {
  font-family: 'Open Sans', sans-serif !important;
}

.left {
  display: flex;
  flex-direction: col;
  flex-grow: 2;
}

.right {
  flex-grow: 1;
}